extends layout

mixin singlePost(post)
	h4
		a(href="/post/" + post.id)= post.title
		|  
		small= post.createdRel().toLowerCase()
			| &nbsp;by 
			a(href='/profile/#{post.poster}')= post.poster
	!= post.excerpt()


block content
	.container
		.row
			.col-sm-9
				- each post in posts
					+singlePost(post)
			.col-sm-3
				p Mission statement here.
				p Other actions here.

