extends layout

mixin singlePost(post)
	h4
		a(href="/post/" + post.id)= post.title
		|  
		small= post.createdRel().toLowerCase()
			| &nbsp;by 
			a(href='/profile/@#{post.poster}')= post.poster
	!= post.excerpt()


block content
	- each post in posts
		+singlePost(post)
