extends layout-nosidebar

block append trailers
	script(src='/js/bundle.js')
	script(src='/js/rivets.min.js')
	- var json = JSON.stringify(post)
	script(src='/js/app.js')
	script.
		var postjson = !{json};
		var app = require('./build/js/app.js');
		var Backbone = require('backbone');
		Backbone.$ = window.$;
		$(function()
		{
			var post = new app.PostModel();
			post.set(postjson);
			console.log(post);

			var controller = new app.Postmonger();
			Backbone.history.start({pushState: true});

			rivets.bind($('#preview'),
			{
				post: post,
				controller: controller
			});
		});

block content
	.container
		h2 New post
		.row
			.col-md-7
				form#postForm(method='POST', role='form')
					input#_csrf(name="_csrf", type='hidden', value="#{_csrf}")
					.form-group
						label.control-label Title
						- if (post.title)
							input.form-control(type="text", placeholder="title", name="title", value='#{post.title}')
						- else
							input.form-control(type="text", placeholder="title", name="title")
					.form-group
						label.control-label Tags
						- if (post.tags)
							input.form-control(type="text", placeholder="comma-separated list of tags", name="tags", value='#{post.tags}')
						- else
							input.form-control(type="text", placeholder="comma-separated list of tags", name="tags")
					.form-group
						label.control-label Your post
						textarea.form-control(rows='20', name='content')
							= post.content
						span.help-block You can use Markdown or limited html.
					.form-group
						.pull-right
							button.btn.btn-default(type='cancel') Cancel
							button.btn.btn-primary(type="submit") Post
			.col-md-5
				#preview
					h3 { post.attributes.title }
					#content { post.attributes.content }
					#tags { post.tags }
