extends layout

block content
	.container
		.page-header
			h2= post.title
			small posted by 
				a(href='/profile/#{post.poster}')= post.poster
				| 
				= post.createdRel()
				- if (locals.user && locals.user.handle == post.poster)
					| &nbsp;
					a(href='/post/' + post.id + '/edit'): i.fa.fa-edit
		!= post.render()
		- each tag in post.tags
			a.btn.btn-default.btn-xs(href='/tags/' + tag)= tag
			|  
		hr
		p Comments shall go here.
