extends layout

block content
	.container
		p The source for this site is available 
			a(href="https://github.com/ceejbot/dropout-jeep") on Github 
			| under the MIT license. It is copyright 2014, C J Silverio.

		p The jeep icon is from  
			a(href="http://thenounproject.com/term/jeep/2648/") the Noun Project.

		p The font is 
			a(href="http://omnibus-type.com/fonts/rosario.php") Rosario
			| , by Héctor Gatti. 
